# Autism Data
Source: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9128411/table/T2/?report=objectonly

In [42]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import sys
from pathlib import Path

# Import local modules
sys.path.append("../Local_Modules/")
import codebook

In [25]:
# Open automated browser
browser = Browser('chrome')
url = 'https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9128411/table/T2/?report=objectonly'
browser.visit(url)

In [26]:
# Create a Beautiful Soup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [27]:
# End the automated browsing session
browser.quit()

In [28]:
tables = soup.find_all('table')
table = tables[0]

dataframes = []

for table in tables:
    dataframes.append(pd.read_html(str(table))[0])

## Table
State estimated autism spectrum disorder prevalence among adults ages 18â€“84 years, cases, and associated 95% simulation interval

In [29]:
dataframes[0]

,State,Cases,95% SI,Prevalence,95% SI.1
0,Alabama,78072,"61,527, 96,435",2.12,"1.67, 2.61"
1,Alaska,12000,"9559, 14,849",2.19,"1.74, 2.71"
2,Arizona,119924,"95,618, 147,485",2.29,"1.82, 2.81"
3,Arkansas,45569,"35,644, 56,735",2.03,"1.59, 2.53"
4,California,701669,"563,358, 863,471",2.36,"1.89, 2.90"
5,Colorado,96917,"78,736, 117,790",2.28,"1.85, 2.77"
6,Connecticut,65337,"51,985, 81,354",2.37,"1.89, 2.96"
7,Delaware,16683,"13,191, 20,742",2.26,"1.79, 2.81"
8,District of Columbia,11700,"9281, 14,425",2.10,"1.67, 2.59"
9,Florida,329131,"259,573, 407,473",2.03,"1.60, 2.51"
10,Georgia,174612,"139,616, 213,983",2.25,"1.80, 2.75"
11,Hawaii,22797,"18,103, 28,324",2.11,"1.67, 2.62"
12,Idaho,27094,"21,741, 33,212",2.18,"1.75, 2.67"
13,Illinois,223353,"178,832, 274,414",2.32,"1.86, 2.85"
14,Indiana,111067,"88,717, 136,349",2.24,"1.79, 2.75"
15,Iowa,53243,"43,024, 64,598",2.28,"1.84, 2.77"
16,Kansas,46863,"37,387, 57,849",2.19,"1.75, 2.71"
17,Kentucky,71791,"56,959, 88,657",2.13,"1.69, 2.64"
18,Louisiana,68819,"54,071, 85,662",1.97,"1.55, 2.45"
19,Maine,23910,"19,244, 29,167",2.28,"1.83, 2.78"
20,Maryland,98200,"78,844, 118,940",2.14,"1.72, 2.59"
21,Massachusetts,129168,"103,105, 159,372",2.42,"1.93, 2.99"
22,Michigan,164360,"130,831, 201,349",2.17,"1.73, 2.66"
23,Minnesota,97881,"80,695, 117,401",2.35,"1.94, 2.82"
24,Mississippi,45911,"35,708, 57,883",2.07,"1.61, 2.61"
25,Missouri,97377,"77,500, 119,708",2.12,"1.68, 2.60"
26,Montana,16969,"13,404, 21,053",2.12,"1.68, 2.63"
27,Nebraska,31417,"25,045, 38,775",2.24,"1.79, 2.77"
28,Nevada,51799,"41,333, 63,725",2.28,"1.82, 2.81"
29,New Hampshire,23442,"19,085, 28,268",2.22,"1.81, 2.68"
30,New Jersey,157245,"127,036, 191,192",2.30,"1.86, 2.80"
31,New Mexico,31207,"24,166, 39,369",2.00,"1.55, 2.52"
32,New York,342280,"276,658, 417,725",2.25,"1.82, 2.74"
33,North Carolina,155953,"123,603, 192,285",2.00,"1.59, 2.47"
34,North Dakota,11501,"8967, 14,435",2.05,"1.60, 2.57"
35,Ohio,185315,"145,971, 228,939",2.11,"1.66, 2.60"
36,Oklahoma,61672,"49,304, 75,780",2.13,"1.70, 2.61"
37,Oregon,72727,"58,308, 89,294",2.28,"1.83, 2.80"
38,Pennsylvania,228572,"180,929, 284,166",2.33,"1.85, 2.90"
39,Rhode Island,18472,"15,116, 22,343",2.24,"1.83, 2.71"
40,South Carolina,75985,"58,887, 95,248",1.98,"1.54, 2.48"
41,South Dakota,12830,"9881, 16,286",2.02,"1.56, 2.57"
42,Tennessee,106083,"84,068, 131,132",2.08,"1.65, 2.58"
43,Texas,449631,"358,411, 556,627",2.19,"1.74, 2.71"
44,Utah,48818,"40,003, 58,452",2.28,"1.87, 2.73"
45,Vermont,10435,"8367, 12,764",2.12,"1.70, 2.59"
46,Virginia,155557,"125,110, 189,742",2.41,"1.94, 2.94"
47,Washington,119815,"95,514, 149,233",2.13,"1.70, 2.65"
48,West Virginia,29083,"22,748, 36,322",2.07,"1.62, 2.58"
49,Wisconsin,97977,"78,734, 119,841",2.23,"1.80, 2.73"
50,Wyoming,9758,"7755, 12,036",2.26,"1.79, 2.78"
51,Total,5437988,"4,798,561, 6,025,184",2.21,"1.95, 2.45"

In [30]:
# Copy the DataFrame into a new one
autism_df = dataframes[0][:]

# Remove Cases and 95% SI columns
autism_df = autism_df.drop(columns=['Cases', '95% SI'])

# Split 95% interval into two columns
autism_df[['Low_95%','High_95%']] = autism_df['95% SI.1'].str.split(', ',expand=True)

# Drop 95% SI.1	column
autism_df = autism_df.drop(columns='95% SI.1')

# Drop row with total amounts
autism_df = autism_df.loc[autism_df['State'] != 'Total']

In [31]:
autism_df.tail()

            State  Prevalence Low_95% High_95%
46       Virginia        2.41    1.94     2.94
47     Washington        2.13    1.70     2.65
48  West Virginia        2.07    1.62     2.58
49      Wisconsin        2.23    1.80     2.73
50        Wyoming        2.26    1.79     2.78

In [40]:
# Replace State names by state 2-letter code
for index, row in autism_df.iterrows():
    autism_df.loc[index,'State'] = codebook.codes_states[autism_df.loc[index,'State']]

In [43]:
# Save DataFrame as CSV file
csv_out = Path('../clean_data/clean_autism.csv')
autism_df.to_csv(csv_out, index=False)